openapi: 3.1.0
info:
  title: Bitly API v4 Bitlinks Campaigns API
  description: 'REST API for creating and managing Bitlinks, custom domains, groups,

    organizations, campaigns, channels, QR codes, and click analytics.


    Best-effort OpenAPI reconstruction from Bitly''s public API reference at

    https://dev.bitly.com/api-reference. Bitly also publishes an authoritative

    spec at https://dev.bitly.com/v4/v4.json.

    '
  version: 4.0.0
  contact:
    name: Bitly API
    url: https://dev.bitly.com/api-reference
  license:
    name: Proprietary
servers:
- url: https://api-ssl.bitly.com/v4
  description: Bitly v4 REST API
security:
- bearerAuth: []
tags:
- name: Campaigns
paths:
  /campaigns:
    get:
      tags:
      - Campaigns
      summary: List campaigns
      operationId: listCampaigns
      responses:
        '200':
          description: Campaigns.
    post:
      tags:
      - Campaigns
      summary: Create a campaign
      operationId: createCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - group_guid
              properties:
                name:
                  type: string
                description:
                  type: string
                group_guid:
                  type: string
      responses:
        '201':
          description: Created campaign.
  /campaigns/{campaign_guid}:
    parameters:
    - name: campaign_guid
      in: path
      required: true
      schema:
        type: string
    patch:
      tags:
      - Campaigns
      summary: Update a campaign
      operationId: updateCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Updated.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token issued from Bitly account settings, or obtained via OAuth 2.0.

        Send as `Authorization: Bearer {token}`.

        '
