openapi: 3.1.0
info:
  title: Bitly API v4
  description: |
    REST API for creating and managing Bitlinks, custom domains, groups,
    organizations, campaigns, channels, QR codes, and click analytics.

    Best-effort OpenAPI reconstruction from Bitly's public API reference at
    https://dev.bitly.com/api-reference. Bitly also publishes an authoritative
    spec at https://dev.bitly.com/v4/v4.json.
  version: '4.0.0'
  contact:
    name: Bitly API
    url: https://dev.bitly.com/api-reference
  license:
    name: Proprietary
servers:
  - url: https://api-ssl.bitly.com/v4
    description: Bitly v4 REST API
security:
  - bearerAuth: []
tags:
  - name: Bitlinks
  - name: Metrics
  - name: Custom Bitlinks
  - name: Groups
  - name: Group Metrics
  - name: Organizations
  - name: Campaigns
  - name: Channels
  - name: QR Codes
  - name: BSDs
paths:
  /shorten:
    post:
      tags: [Bitlinks]
      summary: Shorten a long URL
      operationId: shorten
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [long_url]
              properties:
                long_url: { type: string, format: uri }
                domain: { type: string }
                group_guid: { type: string }
      responses:
        '200':
          description: Shortened bitlink.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Bitlink' }
  /expand:
    post:
      tags: [Bitlinks]
      summary: Expand a Bitlink to its long URL
      operationId: expand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bitlink_id]
              properties:
                bitlink_id: { type: string }
      responses:
        '200':
          description: Expanded link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  bitlink_id: { type: string }
                  long_url: { type: string, format: uri }
                  created_at: { type: string, format: date-time }
                  link: { type: string, format: uri }
                  id: { type: string }
  /bitlinks:
    post:
      tags: [Bitlinks]
      summary: Create a Bitlink with metadata
      operationId: createBitlink
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BitlinkCreate' }
      responses:
        '200':
          description: Created bitlink.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Bitlink' }
  /bitlinks/{bitlink}:
    parameters:
      - $ref: '#/components/parameters/Bitlink'
    get:
      tags: [Bitlinks]
      summary: Retrieve a Bitlink
      operationId: getBitlink
      responses:
        '200':
          description: The bitlink.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Bitlink' }
    patch:
      tags: [Bitlinks]
      summary: Update a Bitlink
      operationId: updateBitlink
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BitlinkUpdate' }
      responses:
        '200':
          description: Updated bitlink.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Bitlink' }
    delete:
      tags: [Bitlinks]
      summary: Delete a Bitlink
      operationId: deleteBitlink
      responses:
        '204':
          description: Deleted.
  /bitlinks/{bitlink}/clicks:
    parameters:
      - $ref: '#/components/parameters/Bitlink'
      - $ref: '#/components/parameters/Unit'
      - $ref: '#/components/parameters/Units'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/UnitReference'
    get:
      tags: [Metrics]
      summary: Get clicks for a Bitlink
      operationId: getBitlinkClicks
      responses:
        '200': { description: Click data. }
  /bitlinks/{bitlink}/clicks/summary:
    parameters:
      - $ref: '#/components/parameters/Bitlink'
      - $ref: '#/components/parameters/Unit'
      - $ref: '#/components/parameters/Units'
      - $ref: '#/components/parameters/UnitReference'
    get:
      tags: [Metrics]
      summary: Get summary of clicks for a Bitlink
      operationId: getBitlinkClicksSummary
      responses:
        '200': { description: Click summary. }
  /bitlinks/{bitlink}/engagements:
    parameters:
      - $ref: '#/components/parameters/Bitlink'
    get:
      tags: [Metrics]
      summary: Get engagements (clicks and scans) for a Bitlink
      operationId: getBitlinkEngagements
      responses:
        '200': { description: Engagement data. }
  /bitlinks/{bitlink}/countries:
    parameters:
      - $ref: '#/components/parameters/Bitlink'
      - $ref: '#/components/parameters/Unit'
      - $ref: '#/components/parameters/Units'
    get:
      tags: [Metrics]
      summary: Get countries by clicks for a Bitlink
      operationId: getBitlinkCountries
      responses:
        '200': { description: Country breakdown. }
  /bitlinks/{bitlink}/cities:
    parameters:
      - $ref: '#/components/parameters/Bitlink'
      - $ref: '#/components/parameters/Unit'
      - $ref: '#/components/parameters/Units'
    get:
      tags: [Metrics]
      summary: Get cities by clicks for a Bitlink
      operationId: getBitlinkCities
      responses:
        '200': { description: City breakdown. }
  /bitlinks/{bitlink}/devices:
    parameters:
      - $ref: '#/components/parameters/Bitlink'
    get:
      tags: [Metrics]
      summary: Get device type breakdown
      operationId: getBitlinkDevices
      responses:
        '200': { description: Device breakdown. }
  /bitlinks/{bitlink}/referrers:
    parameters:
      - $ref: '#/components/parameters/Bitlink'
      - $ref: '#/components/parameters/Unit'
      - $ref: '#/components/parameters/Units'
    get:
      tags: [Metrics]
      summary: Get referrers for a Bitlink
      operationId: getBitlinkReferrers
      responses:
        '200': { description: Referrer breakdown. }
  /bitlinks/{bitlink}/referring_domains:
    parameters:
      - $ref: '#/components/parameters/Bitlink'
      - $ref: '#/components/parameters/Unit'
      - $ref: '#/components/parameters/Units'
    get:
      tags: [Metrics]
      summary: Get referring domains for a Bitlink
      operationId: getBitlinkReferringDomains
      responses:
        '200': { description: Referring domains. }
  /custom_bitlinks:
    post:
      tags: [Custom Bitlinks]
      summary: Add a custom back-half
      operationId: createCustomBitlink
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [custom_bitlink, bitlink_id]
              properties:
                custom_bitlink: { type: string }
                bitlink_id: { type: string }
      responses:
        '200':
          description: Created custom bitlink.
  /custom_bitlinks/{custom_bitlink}:
    parameters:
      - name: custom_bitlink
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Custom Bitlinks]
      summary: Retrieve a custom Bitlink
      operationId: getCustomBitlink
      responses:
        '200': { description: Custom bitlink. }
    patch:
      tags: [Custom Bitlinks]
      summary: Move a custom keyword to a different Bitlink
      operationId: updateCustomBitlink
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bitlink_id: { type: string }
      responses:
        '200': { description: Updated. }
  /groups:
    get:
      tags: [Groups]
      summary: List groups for the authenticated user's organization
      operationId: listGroups
      parameters:
        - name: organization_guid
          in: query
          schema: { type: string }
      responses:
        '200': { description: Groups. }
  /groups/{group_guid}:
    parameters:
      - $ref: '#/components/parameters/GroupGuid'
    get:
      tags: [Groups]
      summary: Retrieve a group
      operationId: getGroup
      responses:
        '200': { description: Group. }
    patch:
      tags: [Groups]
      summary: Update a group
      operationId: updateGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                organization_guid: { type: string }
      responses:
        '200': { description: Updated. }
  /groups/{group_guid}/bitlinks:
    parameters:
      - $ref: '#/components/parameters/GroupGuid'
      - $ref: '#/components/parameters/Size'
      - name: page
        in: query
        schema: { type: integer }
      - name: keyword
        in: query
        schema: { type: string }
      - name: query
        in: query
        schema: { type: string }
      - name: created_before
        in: query
        schema: { type: integer }
      - name: created_after
        in: query
        schema: { type: integer }
      - name: modified_after
        in: query
        schema: { type: integer }
      - name: archived
        in: query
        schema: { type: string, enum: [on, off, both] }
      - name: deeplinks
        in: query
        schema: { type: string, enum: [on, off, both] }
      - name: domain_deeplinks
        in: query
        schema: { type: string, enum: [on, off, both] }
      - name: campaign_guid
        in: query
        schema: { type: string }
      - name: channel_guid
        in: query
        schema: { type: string }
      - name: custom_bitlink
        in: query
        schema: { type: string, enum: [on, off, both] }
      - name: tags
        in: query
        schema:
          type: array
          items: { type: string }
      - name: launchpad_ids
        in: query
        schema:
          type: array
          items: { type: string }
      - name: encoding_login
        in: query
        schema:
          type: array
          items: { type: string }
    get:
      tags: [Groups]
      summary: List Bitlinks in a group
      operationId: listGroupBitlinks
      responses:
        '200': { description: Paginated bitlinks. }
    patch:
      tags: [Groups]
      summary: Bulk update Bitlinks in a group (e.g. archive, tag)
      operationId: bulkUpdateGroupBitlinks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [archive, tag]
                bitlink_ids:
                  type: array
                  items: { type: string }
                tags:
                  type: array
                  items: { type: string }
      responses:
        '200': { description: Bulk update result. }
  /groups/{group_guid}/tags:
    parameters:
      - $ref: '#/components/parameters/GroupGuid'
    get:
      tags: [Groups]
      summary: List tags for a group
      operationId: listGroupTags
      responses:
        '200': { description: Tags. }
  /groups/{group_guid}/preferences:
    parameters:
      - $ref: '#/components/parameters/GroupGuid'
    get:
      tags: [Groups]
      summary: Get group preferences
      operationId: getGroupPreferences
      responses:
        '200': { description: Preferences. }
  /groups/{group_guid}/clicks:
    parameters:
      - $ref: '#/components/parameters/GroupGuid'
      - $ref: '#/components/parameters/Unit'
      - $ref: '#/components/parameters/Units'
    get:
      tags: [Group Metrics]
      summary: Get clicks for the group
      operationId: getGroupClicks
      responses:
        '200': { description: Click data. }
  /groups/{group_guid}/countries:
    parameters:
      - $ref: '#/components/parameters/GroupGuid'
    get:
      tags: [Group Metrics]
      summary: Get countries by group clicks
      operationId: getGroupCountries
      responses:
        '200': { description: Country breakdown. }
  /groups/{group_guid}/cities:
    parameters:
      - $ref: '#/components/parameters/GroupGuid'
    get:
      tags: [Group Metrics]
      summary: Get cities by group clicks
      operationId: getGroupCities
      responses:
        '200': { description: City breakdown. }
  /groups/{group_guid}/devices:
    parameters:
      - $ref: '#/components/parameters/GroupGuid'
    get:
      tags: [Group Metrics]
      summary: Get devices breakdown for group
      operationId: getGroupDevices
      responses:
        '200': { description: Device breakdown. }
  /groups/{group_guid}/links/clicks/top:
    parameters:
      - $ref: '#/components/parameters/GroupGuid'
    get:
      tags: [Group Metrics]
      summary: Top performing links for group
      operationId: getGroupTopLinks
      responses:
        '200': { description: Top links. }
  /groups/{group_guid}/codes/scans/over_time:
    parameters:
      - $ref: '#/components/parameters/GroupGuid'
    get:
      tags: [Group Metrics]
      summary: QR scan trends over time for group
      operationId: getGroupQrScansOverTime
      responses:
        '200': { description: Scan trends. }
  /groups/{group_guid}/feature_usage:
    parameters:
      - $ref: '#/components/parameters/GroupGuid'
    get:
      tags: [Group Metrics]
      summary: Feature usage and limit consumption
      operationId: getGroupFeatureUsage
      responses:
        '200': { description: Feature usage. }
  /organizations:
    get:
      tags: [Organizations]
      summary: List organizations for the authenticated user
      operationId: listOrganizations
      responses:
        '200': { description: Organizations. }
  /organizations/{organization_guid}:
    parameters:
      - name: organization_guid
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Organizations]
      summary: Retrieve an organization
      operationId: getOrganization
      responses:
        '200': { description: Organization. }
  /organizations/{organization_guid}/plan_limits:
    parameters:
      - name: organization_guid
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Organizations]
      summary: Get organization plan limits
      operationId: getOrganizationPlanLimits
      responses:
        '200': { description: Plan limits. }
  /organizations/{organization_guid}/shorten_counts:
    parameters:
      - name: organization_guid
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Organizations]
      summary: Get organization shorten counts
      operationId: getOrganizationShortenCounts
      responses:
        '200': { description: Shorten counts. }
  /campaigns:
    get:
      tags: [Campaigns]
      summary: List campaigns
      operationId: listCampaigns
      responses:
        '200': { description: Campaigns. }
    post:
      tags: [Campaigns]
      summary: Create a campaign
      operationId: createCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, group_guid]
              properties:
                name: { type: string }
                description: { type: string }
                group_guid: { type: string }
      responses:
        '201': { description: Created campaign. }
  /campaigns/{campaign_guid}:
    parameters:
      - name: campaign_guid
        in: path
        required: true
        schema: { type: string }
    patch:
      tags: [Campaigns]
      summary: Update a campaign
      operationId: updateCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
      responses:
        '200': { description: Updated. }
  /channels:
    post:
      tags: [Channels]
      summary: Create a channel
      operationId: createChannel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, group_guid]
              properties:
                name: { type: string }
                guid: { type: string }
                group_guid: { type: string }
                campaign_guid: { type: string }
      responses:
        '201': { description: Created channel. }
  /channels/{channel_guid}:
    parameters:
      - name: channel_guid
        in: path
        required: true
        schema: { type: string }
    patch:
      tags: [Channels]
      summary: Update a channel
      operationId: updateChannel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
      responses:
        '200': { description: Updated. }
  /qr-codes:
    post:
      tags: [QR Codes]
      summary: Generate a QR code
      operationId: createQrCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [destination]
              properties:
                destination:
                  type: object
                  properties:
                    long_url: { type: string, format: uri }
                    bitlink_id: { type: string }
                group_guid: { type: string }
                title: { type: string }
                render_customizations:
                  type: object
                  additionalProperties: true
      responses:
        '200': { description: QR code. }
  /bsds:
    get:
      tags: [BSDs]
      summary: List branded short domains
      operationId: listBsds
      responses:
        '200': { description: Branded short domains. }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Bearer token issued from Bitly account settings, or obtained via OAuth 2.0.
        Send as `Authorization: Bearer {token}`.
  parameters:
    Bitlink:
      name: bitlink
      in: path
      required: true
      description: A Bitlink (e.g. `bit.ly/abc123`).
      schema: { type: string }
    GroupGuid:
      name: group_guid
      in: path
      required: true
      schema: { type: string }
    Unit:
      name: unit
      in: query
      schema:
        type: string
        enum: [minute, hour, day, week, month]
    Units:
      name: units
      in: query
      schema: { type: integer, default: -1 }
    Size:
      name: size
      in: query
      schema: { type: integer, default: 50 }
    UnitReference:
      name: unit_reference
      in: query
      schema: { type: string, format: date-time }
  schemas:
    Bitlink:
      type: object
      properties:
        created_at: { type: string, format: date-time }
        id: { type: string }
        link: { type: string, format: uri }
        custom_bitlinks:
          type: array
          items: { type: string }
        long_url: { type: string, format: uri }
        archived: { type: boolean }
        tags:
          type: array
          items: { type: string }
        deeplinks:
          type: array
          items: { type: object, additionalProperties: true }
        references:
          type: object
          additionalProperties: { type: string }
        title: { type: string }
        created_by: { type: string }
        client_id: { type: string }
        is_deleted: { type: boolean }
        launchpad_ids:
          type: array
          items: { type: string }
        campaign_ids:
          type: array
          items: { type: string }
    BitlinkCreate:
      type: object
      required: [long_url]
      properties:
        long_url: { type: string, format: uri }
        domain: { type: string }
        group_guid: { type: string }
        title: { type: string }
        tags:
          type: array
          items: { type: string }
        deeplinks:
          type: array
          items: { type: object, additionalProperties: true }
    BitlinkUpdate:
      type: object
      properties:
        title: { type: string }
        archived: { type: boolean }
        tags:
          type: array
          items: { type: string }
        deeplinks:
          type: array
          items: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
        created_by: { type: string }
        long_url: { type: string, format: uri }
        client_id: { type: string }
        custom_bitlinks:
          type: array
          items: { type: string }
        link: { type: string, format: uri }
        id: { type: string }
        references:
          type: object
          additionalProperties: { type: string }
